<div class="terrain-mars">
  <div class="grid">
    <div *ngFor="let row of rows; let rowIndex = index" class="terrain-row">
      <div *ngFor="let col of cols; let colIndex = index" class="terrain-cell">
        <div class="coordinate">
          {{ colIndex - 2 }}, {{ (rowIndex - 2) * -1}}
        </div>
        <div class="robot" 
        [style.visibility]="robotPosition.x === colIndex - 2 && robotPosition.y === (rowIndex - 2) * -1  ? 'visible' : 'hidden'">
          🤖
        </div>
      </div>
    </div>
  </div>
</div>