
.botao {
    width: 100px; 
    height: 100px;          
    border-radius: 50%;     
    background-color: #333; 
    border: 5px solid red;  
    color: white;          
    font-size: 36px;       
    display: flex;
    justify-content: center; 
    align-items: center;    
    cursor: pointer;        
    transition: background-color 0.01s ease; 
}
.botao:active {
    background-color: red;  
}
