.terrain-mars {
    border: 1px solid black;
    padding: 10px;
  }
  
  .terrain-row {
    display: flex;
  }
  
  .terrain-cell {
    width: 30px;
    height: 30px;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
  }