
.botao {
    width: 100px; 
    height: 100px;          
    border-radius: 50%;     
    background-color: #333; 
    border: 5px solid red;  
    color: white;          
    font-size: 36px;    
    font-family: Arial, Helvetica, sans-serif;   
    display: flex;
    justify-content: center; 
    align-items: center;    
    cursor: pointer;         
    margin-bottom: 100px;
    box-shadow: 7px 7px 0 #000
}
.botao:active {
    background-color: red; 
    transition: background-color 0.1 ease-in;
}
.botao:not(:active) {
    background-color: #333 ;
    transition: background-color 0.2s ease-out; 
}
@media (max-width: 800px) {
    .botao {
    width: 80px;
    height: 80px;
    }
}