<div class="geral">
  <div class="titulo">
    <h1 style="font-size: 48px; color: rgb(255, 255, 255); text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">
      MARS EXPLORER
  </h1>
  </div>
  
  <div class="elementos">
    <div class="terreno">
      <app-terrain-mars [robotPosition]="robotPosition"></app-terrain-mars>
    </div>  
    
    <div class="botões">
      <app-button-moviment type="L" (positionUpdated)="updateRobotPosition($event)"></app-button-moviment>
      <app-button-moviment type="M" (positionUpdated)="updateRobotPosition($event)"></app-button-moviment>
      <app-button-moviment type="R" (positionUpdated)="updateRobotPosition($event)"></app-button-moviment>
    </div>
  </div>
</div>
<router-outlet />